@import "_variables.scss";

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    padding: 10px 10px;
    background: map-get($light-mode, plus-color-dark);
    transition: $tran-05;
    z-index: 1;
    overflow-x: visible;
}

body.dark .sidebar {
    background: map-get($dark-mode, plus-color-light);
}

.sidebarPriority {
    font-size: calc(17px + 0.2vw);
    font-weight: 700;
}

.sidebarWelcome {
    font-size: calc(11px + 0.2vw);
    font-weight: 500;
}

body.dark .sidebar .sidebarLogo .sidebarTitle .sidebarPriority {
    color: map-get($dark-mode, text-color-light);
}

body.dark .sidebar .sidebarLogo .sidebarTitle .sidebarWelcome {
    color: map-get($dark-mode, text-color-light);
}

.sidebar.close {
    width: 80px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .sidebarImage {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .sidebarMenu .sidebarMenuList span {
    font-size: calc(13px + 0.2vw);
    margin-left: 4px;
}

.sidebar .sidebarText,
.sidebar .icon {
    color: map-get($light-mode, text-color-dark);
    transition: $tran-03;
}

body.dark .sidebar .sidebarText,
body.dark .sidebar .icon{
    color: map-get($dark-mode, text-color-light);
}

.sidebar .sidebarMenu .bottom-content .logout a span {
    font-size: calc(13px + 0.2vw);
    margin-left: 4px;
}

.sidebar .sidebarMenu .bottom-content .mode span {
    font-size: calc(13px + 0.2vw);
    margin-left: 4px;
}

.sidebar .sidebarMenu .bottom-content .mode {
    border-radius: 6px;
    background-color: map-get($dark-mode, text-color-light);
    position: relative;
    transition: $tran-05;
}

body.dark .sidebar .sidebarMenu .bottom-content .mode{
    background-color: map-get($light-mode, text-color-dark);
}

.sidebar .sidebarText {
    margin-left: 14px;
    font-size: calc(12px + 0.3vw);
    color: map-get($light-mode, text-color-dark);
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .sidebarText{
    opacity: 0;
}

.sidebar header {
    position: relative;
    overflow-x: visible;
}

.sidebar header .sidebarLogo {
    display: flex;
    align-items: center;
}

.sidebarTitle {
    display: flex;
    flex-direction: column;
    color: map-get($light-mode, text-color-dark);
}

header .sidebarLogo .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .sidebarLogo .profession {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .sidebarImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .sidebarImage img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: map-get($dark-mode, primary-color-light);
    color: map-get($dark-mode, plus-color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    transition: $tran-05;
    display: block;
    z-index: 1;
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .sidebarMenuList{
    margin-top: 40px;
}

.sidebar .sidebarMenuList ul {
    padding-left: 0;
}

.sidebar .sidebarMenuSearch{
    border-radius: 6px;
    background-color: map-get($dark-mode, body-color-light);
    cursor: pointer;
    transition: $tran-05;
}

.sidebar .sidebarMenuSearch input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: map-get($dark-mode, body-color-light);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: $tran-05;
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: $tran-03;
}

.sidebar li a:hover{
    background-color: map-get($dark-mode, primary-color-light);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .sidebarText{
    color: map-get($dark-mode, plus-color-light);
}

.sidebar .sidebarMenu{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.sidebarMenu::-webkit-scrollbar{
    display: none; 
}

.sidebar .sidebarMenu .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: $tran-05;
}

.sidebarMenu .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}

.mode .sun-moon i.sun{
    opacity: 0;
}

body.dark .mode .sun-moon i.sun{
    opacity: 1;
}

body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.sidebarMenu .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: map-get($dark-mode, accent-color-light);
    transition: $tran-05;
}

body.dark .sidebarMenu .bottom-content .toggle-switch .switch {
    background-color: map-get($light-mode, accent-color-dark);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: map-get($dark-mode, body-color-light);
    transition: $tran-04;
}

body.dark .switch::before{
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 240px;
    height: 100vh;
    width: calc(100% - 240px);
    transition: $tran-05;
}

.home .homeTitle{
    font-size: 30px;
    font-weight: 500;
    color: map-get($light-mode, text-color-dark);
    padding: 12px 60px;
}

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .homeTitle {
    color: map-get($dark-mode, text-color-light);
}

body.dark .home .homeContent .cardContainer .card {
    background-color: map-get($dark-mode, plus-color-light);
}

.cardContainer {
    display: grid;
    justify-items: stretch;
    height: 100%;
    margin: calc(15px + 0.7vw);
    padding-bottom: 25px;
    grid-gap: calc(15px + 0.7vw);
    grid-template-columns: repeat(auto-fit, minmax(calc(250px + 8%), 1fr));
}

body.dark .home .cardContainer .card {
    background-color: map-get($dark-mode, accent-color-light);
    #myChart {
        justify-self: center;
    }

    $chartElement:(
        myChart,
        myChart1,
        myChart2,
        myChart3,
        myChart4,
        myChart5,
        myChart6,
        myChart7
    );

    @each $var in $chartElement {
        ##{$var} text {
            fill: map-get($dark-mode, text-color-light);
        }   
        ##{$var} path {
            fill: map-get($light-mode, text-color-dark);
        }
    }
}

.card {
    transition: $tran-03;
    border-radius: calc(7px + 0.1vw);
    text-align: center;
    background-color: map-get($light-mode, plus-color-dark);
    height: 100%;
    &:hover {
        box-shadow: 0 14px 14px 0 rgba(0,0,0,0.2);
    }

    $chartElement:(
        myChart,
        myChart1,
        myChart2,
        myChart3,
        myChart4,
        myChart5,
        myChart6,
        myChart7
    );

    @each $var in $chartElement {
        ##{$var} text {
            fill: map-get($light-mode, text-color-dark);
        }   
        ##{$var} path {
            fill: map-get($light-mode, body-color-dark);
        }
    }
}

.cardTitle {
    font-family: Poppins;
    font-size: calc(17px + 0.3vw);
    font-weight: 500;
    margin: 14px 22px;
    color: map-get($light-mode, text-color-dark);
    overflow-y: hidden;
}

body.dark .home .cardContainer .card .cardTitle {
    color: map-get($dark-mode, text-color-light);
}