@import "_variables.scss";

@mixin text-light-mode {
    color: map-get($light-mode, text-color-dark);
    text-decoration: none;
    &:hover {
        color: map-get($light-mode, text-color-dark);
    }
}

@mixin text-dark-mode {
    color: map-get($dark-mode, text-color-light);
    text-decoration: none;
    &:hover {
        color: map-get($dark-mode, text-color-light);
    }
    font-weight: 500;
}

.logo {
    background-size: cover;
    min-width: 200px;
    min-height: 57px;
}

.mainLogo {
    @extend .logo;
    background-image: map-get($light-mode, nav-logo-dark);
    
}

.mainLogo.dark {
    @extend .logo;
    background-image: map-get($dark-mode, nav-logo-light);
}

$textElement:(
    mainText,
    mainForgot,
    mainTerms,
    mainPrivacy
);

@each $var in $textElement {
    .#{$var} {
        @include text-light-mode();
    }   
    .#{$var}.dark {
        @include text-dark-mode();
    }
}

form {
    .mb-3 {
        $formText:(
            form-label,
            form-text,
            form-check-label
        );

        @each $var in $formText {
            .#{$var} {
                @include text-light-mode();
            }
        }
    }
}

form.dark {
    .mb-3 {
        $formText:(
            form-label,
            form-text,
            form-check-label
        );

        @each $var in $formText {
            .#{$var} {
                @include text-dark-mode();
            }
        }
    }
}