*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1b6;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #777777;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: #f1f1f1b6;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3d3d3d;
}