body {
    background: $body-color-dark;
    .navbar {
        background: $body-color-dark;
        .container-fluid {
            .navbar-brand {
                .logo {
                    background-image: $nav-logo-dark;
                    background-size: cover;
                    min-width: 200px;
                    min-height: 57px;
                }
            }
            .collapse {
                ul {
                    li {
                        align-self: start;
                        a {
                            color: $text-color-dark;
                        }
                        i {
                            color: $text-color-dark;
                        }
                    }
                    .mode {
                        background: $plus-color-dark;
                        border-radius: 5px;
                        max-width: 200px;
                        align-self: start;
                        cursor: pointer;
                        margin-top: 2px;
                        a {
                            color: $text-color-dark;
                            text-decoration: none;
                            margin-left: 10px;
                            margin-top: 7px;
                            margin-bottom: 7px;
                        }
                        i {
                            margin: 0px 7px;
                        }
                        i.sun {
                            display: block;
                            color: $text-color-dark;
                        }
                        i.moon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main {
        .container-fluid {
            .container {
                .container {
                    a {
                        color: $text-color-dark;
                        text-decoration: none;
                    }
                    p {
                        color: $text-color-dark;
                    }
                }
            }
            .image {
                min-width: 350px; 
                min-height: 333px; 
                background-image: $image-dark; 
                background-size: cover; 
                flex-basis: 300px;
            }
            .card {
                background: $plus-color-dark;
                &:hover {
                    box-shadow: 0 8px 22px 0 #000000bb;
                    transform: scale(1.01);
                }
                i {
                    color: $text-color-dark;
                    margin-top: 20px;
                }
                .card-body {
                    h5 {
                        color: $text-color-dark;
                    }
                    p {
                        color: $text-color-dark;
                    }

                }
            }
        }
    }
    .footer {
        background: $accent-color-dark;
    }
}

body.dark{
    background: $body-color-light;
    .navbar {
        background: $body-color-light;
        .container-fluid {
            .navbar-brand {
                .logo {
                    background-image: $nav-logo-light;
                }
            }
            .collapse {
                ul {
                    li {
                        a {
                            color: $text-color-light;
                            font-weight: 500;
                        }
                        i {
                            color: $text-color-light;
                            font-weight: 700;
                        }
                    }
                    .mode {
                        background: $plus-color-light;
                        align-self: start;
                        a {
                            color: $text-color-light;
                        }
                        i.moon {
                            display: block;
                            color: $text-color-light;
                        }
                        i.sun {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main {
        .container-fluid {
            .container {
                .container {
                    a {
                        color: $text-color-light;
                    }
                    p {
                        color: $text-color-light;
                    }
                }
            }
            .image {
                background-image: $image-light;
            }
            .card {
                background: $plus-color-light;
                &:hover {
                    box-shadow: 0 8px 22px 0 #00000050;
                }
                i {
                    color: $text-color-light;
                    margin-top: 20px;
                }
                .card-body {
                    h5 {
                        color: $text-color-light;
                    }
                    p {
                        color: $text-color-light;
                    }

                }
            }
        }
    }
    .footer {
        background: $accent-color-light;
    }
}