@import "_variables.scss";

body {
    background: map-get($light-mode, body-color-dark);
    .navbar {
        background: map-get($light-mode, body-color-dark);
        .container-fluid {
            .navbar-brand {
                .logo {
                    background-image: map-get($light-mode, nav-logo-dark);
                    background-size: cover;
                    min-width: 200px;
                    min-height: 57px;
                }
            }
            .collapse {
                ul {
                    li {
                        align-self: start;
                        a {
                            color: map-get($light-mode, text-color-dark);
                        }
                        i {
                            color: map-get($light-mode, text-color-dark);
                        }
                    }
                    .mode {
                        background: map-get($light-mode, plus-color-dark);
                        border-radius: 5px;
                        max-width: 200px;
                        align-self: start;
                        cursor: pointer;
                        margin-top: 2px;
                        a {
                            color: map-get($light-mode, text-color-dark);
                            text-decoration: none;
                            margin-left: 10px;
                            margin-top: 7px;
                            margin-bottom: 7px;
                        }
                        i {
                            margin: 0px 7px;
                        }
                        i.sun {
                            display: block;
                            color: map-get($light-mode, text-color-dark);
                        }
                        i.moon {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main {
        .container-fluid {
            .container {
                .container {
                    @keyframes slideInFromLeft {
                        0% {
                            transform: translateX(-70%);
                        }
                        100% {
                            transform: translateX(0);
                        }
                    }
                    animation: 1s ease-out 0s 1 slideInFromLeft;
                    h1, h2 {
                        color: map-get($light-mode, text-color-dark);
                        text-decoration: none;
                        overflow: hidden;
                    }
                    p {
                        color: map-get($light-mode, text-color-dark);
                    }
                }
            }
            .image {
                min-width: 350px; 
                min-height: 333px; 
                background-image: map-get($light-mode, image-dark); 
                background-size: cover; 
                flex-basis: 300px;
            }
            .card {
                background: map-get($light-mode, plus-color-dark);
                &:hover {
                    box-shadow: 0 8px 22px 0 #000000bb;
                    transform: scale(1.01);
                }
                i {
                    color: map-get($light-mode, text-color-dark);
                    margin-top: 20px;
                }
                .card-body {
                    h5 {
                        color: map-get($light-mode, text-color-dark);
                        overflow: hidden;
                    }
                    p {
                        color: map-get($light-mode, text-color-dark);
                    }

                }
            }
        }
    }
    .footer {
        background: map-get($light-mode, accent-color-dark);
    }
}

body.dark{
    background: map-get($dark-mode, body-color-light);
    .navbar {
        background: map-get($dark-mode, body-color-light);
        .container-fluid {
            .navbar-brand {
                .logo {
                    background-image: map-get($dark-mode, nav-logo-light);
                }
            }
            .collapse {
                ul {
                    li {
                        a {
                            color: map-get($dark-mode, text-color-light);
                            font-weight: 500;
                        }
                        i {
                            color: map-get($dark-mode, text-color-light);
                            font-weight: 700;
                        }
                    }
                    .mode {
                        background: map-get($dark-mode, plus-color-light);
                        align-self: start;
                        a {
                            color: map-get($dark-mode, text-color-light);
                        }
                        i.moon {
                            display: block;
                            color: map-get($dark-mode, text-color-light);
                        }
                        i.sun {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .main {
        .container-fluid {
            .container {
                .container {
                    h1, h2 {
                        color: map-get($dark-mode, text-color-light);
                    }
                    p {
                        color: map-get($dark-mode, text-color-light);
                    }
                }
            }
            .image {
                background-image: map-get($dark-mode, image-light);
            }
            .card {
                background: map-get($dark-mode, plus-color-light);
                &:hover {
                    box-shadow: 0 8px 22px 0 #00000050;
                }
                i {
                    color: map-get($dark-mode, text-color-light);
                    margin-top: 20px;
                }
                .card-body {
                    h5 {
                        color: map-get($dark-mode, text-color-light);
                        overflow: hidden;
                    }
                    p {
                        color: map-get($dark-mode, text-color-light);
                    }

                }
            }
        }
    }
    .footer {
        background: map-get($dark-mode, accent-color-light);
    }
}